<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :provider %>
    <%= form.text_field :provider, id: :user_provider %>
  </div>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid, id: :user_uid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :user_image_url %>
  </div>

  <div class="field">
    <%= form.label :old %>
    <%= form.number_field :old, id: :user_old %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university, id: :user_university %>
  </div>

  <div class="field">
    <%= form.label :job1 %>
    <%= form.text_field :job1, id: :user_job1 %>
  </div>

  <div class="field">
    <%= form.label :job2 %>
    <%= form.text_field :job2, id: :user_job2 %>
  </div>

  <div class="field">
    <%= form.label :job3 %>
    <%= form.text_field :job3, id: :user_job3 %>
  </div>

  <div class="field">
    <%= form.label :result_id %>
    <%= form.number_field :result_id, id: :user_result_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
