<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <head>
    <%= hidden_field :user, :id %>
  </head>
  
  <body>
      <!-- start padding container -->
      <div class="wrap">
          <!-- start jtinder container -->
          <div id="tinderslide">
              <ul>
                  <li class="pane1" id='last'>
                      <div class="img"></div>
                      <div>大人数よりは少人数が好き</div>
                      <div class="like"></div>
                      <div class="dislike"></div>
                  </li>
                  <li class="pane2">
                      <div class="img"></div>
                      <div>人を喜ばせることが好きである</div>
                      <div class="like"></div>
                      <div class="dislike"></div>
                  </li>
                  <li class="pane3">
                      <div class="img"></div>
                      <div>とにかくお金が欲しい</div>
                      <div class="like"></div>
                      <div class="dislike"></div>
                  </li>
                  <li class="pane4">
                      <div class="img"></div>
                      <div>理性的か感性的かと言われれば理性的</div>
                      <div class="like"></div>
                      <div class="dislike"></div>
                  </li>
                  <li class="pane5">
                      <div class="img"></div>
                      <div>リスクがあっても挑戦してみたい</div>
                      <div class="like"></div>
                      <div class="dislike"></div>
                  </li>
              </ul>
          </div>
          <!-- end jtinder container -->
      </div>
      <!-- end padding container -->
  
      <!-- jTinder trigger by buttons  -->
      <div class="actions">
          <a href="#" class="dislike"><i></i></a>
          <a href="#" class="like"><i></i></a>
      </div>
  
      <!-- jTinder status text  -->
      <div id="status"></div>
  
      <!-- jQuery lib -->
      <%= javascript_include_tag "jTinder/jquery.min.js" %>
      <!-- transform2d lib -->
      <%= javascript_include_tag "jTinder/jquery.transform2d.js" %>
      <!-- jTinder lib -->
      <%= javascript_include_tag "jTinder/jquery.jTinder.js" %>
      <!-- jTinder initialization script -->
      <%= javascript_include_tag "jTinder/main.js" %>
  </body>

  <!-- <div class="field"> -->
  <!--   <%= form.label :question1 %> -->
  <!--   <%= form.number_field :question1, id: :user_question1 %> -->
  <!-- </div> -->
  <!--  -->
  <!-- <div class="field"> -->
  <!--   <%= form.label :question2 %> -->
  <!--   <%= form.number_field :question2, id: :user_question2 %> -->
  <!-- </div> -->
  <!--  -->
  <!-- <div class="field"> -->
  <!--   <%= form.label :question3 %> -->
  <!--   <%= form.number_field :question3, id: :user_question3 %> -->
  <!-- </div> -->
  <!--  -->
  <!-- <div class="field"> -->
  <!--   <%= form.label :question4 %> -->
  <!--   <%= form.number_field :question4, id: :user_question4 %> -->
  <!-- </div> -->
  <!--  -->
  <!-- <div class="field"> -->
  <!--   <%= form.label :question5 %> -->
  <!--   <%= form.number_field :question5, id: :user_question5 %> -->
  <!-- </div> -->
  <!--  -->
  <!-- <div class="actions"> -->
  <!--   <%= form.submit %> -->
  <!-- </div> -->
<% end %>
