<%= stylesheet_link_tag "result", :media => "all" %>
<body>
  <h1>Result</h1>
    <strong>Recommend Jobs </strong>
  <%= render 'jobDetail' %>
  
  <div class="content">
    <div class="buttons">
    <% @recommend_jobs.first(8).each do |job| %>
      <div id="one" class="button">
        <h2>
          <%= job[0] %>
        </h2>
      </div>
    <% end %>
    </div>
  </div>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Question', question_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  <%= javascript_include_tag "result/main.js" %>
</body>
