<h1>Result</h1>
  <strong>Recommend Jobs </strong>
  <% @recommend_jobs.first(8).each do |job| %>
    <div>
      <h2>
        <%= job[0] %>
      </h2>
      <%- # ToDo: change link %>
      <%= link_to 'リアルメンターを探す', edit_user_path(@user) %> |
      <%- # ToDo: change link %>
      <%= link_to '一歩踏み出す', question_user_path(@user) %> |
      <br>
    </div>
  <% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Question', question_user_path(@user) %> |
<%= link_to 'Back', users_path %>
