<p id="notice"><%= notice %></p>

<div class="user">
  <ul class="user-header-container">
    <li class="user-header-box">
      <div class="user-icon-wrapper">
        <img src=http://format.fideli.com/format/capture/1/4/10001.jpg class="user-icon" >
      </div>
    </li>
    <li class="user-header-box">
      <div class="user-header-detail">
        <%= @user.name %>
      </div>
      <div class="user-header-detail">
        <p>年齢:
        <%= @user.old %>
        </p>
      </div>
    </li>
  </ul>



  <div class="user-content-wrapper">
    <div class="user-content-title">
      <p>現在の仕事</p>
    </div>
    <div class="user-content-detail">
      <%= @user.job1 %>
    </div>
  </div>

  <div class="user-content-wrapper">
    <div class="user-content-title">
      <p>職歴</p>
    </div>
    <div class="user-content-detail">
      <%= @user.job1 %>
    </div>
    <div class="user-content-detail">
      <%= @user.job2 %>
    </div>
    <div class="user-content-detail">
      <%= @user.job2 %>
    </div>
  </div>
  <div class="user-content-wrapper">
    <div class="user-content-title">
      <strong>学歴</strong>
    </div>
    <div class="user-content-detail">
      <%= @user.university %>
    </div>
  </div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Question', question_user_path(@user) %> |
  <%= link_to 'Result', result_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
