<p id="notice"><%= notice %></p>

<div class="user">
  <% if $session.present? then %>
    <% if $session.uid == @user.uid then %>
      <div class="user-edit-link-wrapper">
        <%= link_to 'プロフィールを変更する', edit_user_path(@user), class:"user-edit-link" %> 
      </div>
    <% end %>
  <% end %>
  <ul class="user-header-container">
    <li class="user-header-box">
      <div class="user-icon-wrapper">
        <% if @user.image_url.present? then %>
          <%= image_tag @user.image_url, class:"user-icon" %>
        <% else %>
          <img src=http://format.fideli.com/format/capture/1/4/10001.jpg class="user-icon" >
        <% end %>
      </div>

    </li>
    <li class="user-header-box">
      <div class="user-header-detail">
        <%= @user.name %>
      </div>
      <div class="user-header-detail">
        <p>年齢:
        <%= @user.old %>
        </p>
      </div>
    </li>
  </ul>

  <% if $session.present? then %>
    <% if $session.uid == @user.uid then %>
      <div class="user-links">
        <%= link_to 'ご教授を賜る', question_user_path(@user), class:"user-links__question" %> 
        <%= link_to '結果を見る', result_user_path(@user), class:"user-links__result" %> 
      </div>
    <% end %>
  <% end %>

  <div class="user-content-wrapper">
    <div class="user-content-title">
      <p>現在の仕事</p>
    </div>
    <div class="user-content-detail">
      <%= @user.job1 %>
    </div>
  </div>

  <div class="user-content-wrapper">
    <div class="user-content-title">
      <p>職歴</p>
    </div>
    <div class="user-content-detail">
      <%= @user.job1 %>
    </div>
    <div class="user-content-detail">
      <%= @user.job2 %>
    </div>
    <div class="user-content-detail">
      <%= @user.job3 %>
    </div>
  </div>
  <div class="user-content-wrapper">
    <div class="user-content-title">
      <p>学歴</p>
    </div>
    <div class="user-content-detail">
      <%= @user.university %>
    </div>
  </div>
</div>
