<!DOCTYPE html>
<html>
  <head>
    <title>Hackerwars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__link-to-top">
        <img class="header__top-icon-image" src="/assets/logo.png">
      </div>
      <div class="header__link-to-login">
        ログアウト
      </div>
    </header>
    <%= yield %>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
      </ul>
    </div>
    <div class="container">
      <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
