<!DOCTYPE html>
<html>
  <head>
    <title>Hackerwars</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=480">
  </head>

  <body>
    <header class="header">
      <img class="header__top-icon-image" src="/assets/logo_mini.png">
      <% if $session.present? then %>
        <% if $session.uid != "0" then %>
          <%= link_to 'Virtual Menter', user_path($session), class:"header__link-to-top" %>
        <% else %>
          <p class="header__link-to-top">Virtual Menter</p>
        <% end %>
      <% else %>
        <p class="header__link-to-top">Virtual Menter</p>
      <% end %>
      <% if $session.present? then %>
        <% if $session.uid != "0" then %>
          <%= link_to 'ログアウト', login_users_url(@user), class:"header__link-to-login" %>
        <% else %>
          <p class="header__link-to-login"></p>
        <% end %>
      <% end %>
    </header>
  
    <div class="container">
      <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
